@using System.Web.UI.WebControls
@using Marketing.ViewModels
@model MarketingEventViewModel
@{
	ViewBag.Title = Model.AddMode
		? "Добавление маркетингового мероприятия"
		: $"Редактирование маркетингового мероприятия \"{Model.Name}\"";
}

<div class="form-group">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Меню</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Marketing")">Маркетинговые мероприятия</a>
        </li>
        <li class="active" id="breadcrumb">@(Model.AddMode ? "Добавление" : Model.Name)</li>
    </ol>
</div>
<h2 id="title">@ViewBag.Title</h2>
@using (Html.BeginForm("Save", "Marketing", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary("", new { @class = "text-danger" })
	@Html.HiddenFor(m => m.AddMode)
	@Html.HiddenFor(m => m.MarketingEventId)
	@Html.HiddenFor(m => m.SelectedProducerIds)
	@Html.HiddenFor(m => m.RemovingProducerIds)
	if (!Model.AddMode)
  {
	<script>
    	var eventName = "";
    	function enterEditName() {
    		eventName = $("#@Html.IdFor(m => m.Name)").val();
    		$("#viewName").hide();
    		$("#editName").show();
    	}
    	function enterViewName() {
    		$("#@Html.IdFor(m => m.Name)").val(eventName);
    		$("#editName").hide();
    		$("#viewName").show();
    	}
    	function saveName() {
    		$("#ajaxLoader").show();
    		var url = "@Url.Action("SaveName", "Marketing")";
    		var name = $("#@Html.IdFor(m => m.Name)").val();
    		var id = $("#@Html.IdFor(m => m.MarketingEventId)").val();
    		$.post(url, { id: id, name: name })
					.done(function () {
						eventName = name;
						$("#eventName").html(name);
						enterViewName();
						$("#breadcrumb").html(name);
						$("#title").html(name);
					})
					.fail(function () { alert("Ошибка сервера"); })
					.always(function () { $("#ajaxLoader").hide(); });
    	}
	</script>
  }
	<div class="form-group">
			@Html.LabelFor(m => m.Name, new { @class = "col-md-2" })
			@if (Model.AddMode)
      {
			<div class="col-md-10">
					@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
			</div>
      }
      else
      {
			<div id="viewName" class="col-md-10">
          <div class="pull-left">
              <span id="eventName" class="form-control pull-left">
                  @Html.DisplayFor(m => m.Name)
              </span>
          </div>
          <button type="button" class="btn btn-default" onclick="enterEditName();" data-toggle="tooltip" data-placement="right" title="Изменить наименование">
							<span class="glyphicon glyphicon-pencil"></span>
					</button>
			</div>
			<div id="editName" class="col-md-10" style="display:none">
					@Html.TextBoxFor(m => m.Name, new { @class = "form-control pull-left" })
					<div class="btn-group" role="group">
              <button type="button" class="btn btn-default" onclick="saveName();" data-toggle="tooltip" data-placement="top" title="Сохранить новое наименование">
									<span class="glyphicon glyphicon-ok"></span>
							</button>
              <button type="button" class="btn btn-default" onclick="enterViewName();" data-toggle="tooltip" data-placement="right" title="Отменить сделанные изменения">
									<span class="glyphicon glyphicon-remove"></span>
							</button>
					</div>
			</div>
			}
	</div>
	<script>
		function switchAvailable(s, e) {
			s.GetSelectedFieldValues("Id", GetSelectedIdsCallback);
			if ($("#@Html.IdFor(m => m.Name)").val() == "")
				s.GetSelectedFieldValues("Name", GetSelectedNamesCallback);
		}
		function GetSelectedIdsCallback(ids) {
			var valStr = ids.join(',');
			$("#@Html.IdFor(m => m.SelectedProducerIds)").val(valStr);
		}
		function GetSelectedNamesCallback(names) {
			var name = names[0];
			if (name && name != "")
				$("#@Html.IdFor(m => m.Name)").val(name);
		}

   	function switchSelected(s, e) {
   		s.GetSelectedFieldValues("Id", GetRemovingIdsCallback);
   	}
   	function GetRemovingIdsCallback(ids) {
   		var valStr = ids.join(',');
   		$("#@Html.IdFor(m => m.RemovingProducerIds)").val(valStr);
   	}

   	function addProducers() {
   		var list = $("#@Html.IdFor(m => m.SelectedProducerIds)").val();
   		if (list != "") {
   			$("#ajaxLoader").show();
   			var url = "@Url.Action("AddProducers", "Marketing")";
   			$.post(url, { selectedIds: list })
					.done(function () {
						$("#@Html.IdFor(m => m.SelectedProducerIds)").val("");
						$("#@Html.IdFor(m => m.RemovingProducerIds)").val("");
						gridSelected.PerformCallback();
						gridProducers.PerformCallback();
					})
					.fail(function () { alert("Ошибка сервера"); })
					.always(function () { $("#ajaxLoader").hide(); });
   		}
   	}
   	function removeProducers() {
   		var list = $("#@Html.IdFor(m => m.RemovingProducerIds)").val();
   		if (list != "") {
   			$("#ajaxLoader").show();
   			var url = "@Url.Action("RemoveProducers", "Marketing")";
   			$.post(url, { selectedIds: list })
					.done(function () {
						$("#@Html.IdFor(m => m.SelectedProducerIds)").val("");
						$("#@Html.IdFor(m => m.RemovingProducerIds)").val("");
						gridSelected.PerformCallback();
						gridProducers.PerformCallback();
					})
					.fail(function () { alert("Ошибка сервера"); })
					.always(function () { $("#ajaxLoader").hide(); });
   		}
   	}
	</script>
	<h3>Производители, участвующие в маркетинговом мероприятии</h3>
	<div class="row">
		<div class="col-md-5">
			@Html.Partial("partials/_SelectingProducersGrid", Model)
		</div>
    <div class="col-md-2 text-center">
      <div class="form-group">
        <button type="button" class="btn btn-primary glyphicon glyphicon-arrow-right button-arrow" onclick="addProducers();" data-toggle="tooltip" data-placement="top" title="Добавить отмеченных производителей"></button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary glyphicon glyphicon-arrow-left button-arrow" onclick="removeProducers();" data-toggle="tooltip" data-placement="top" title="Исключить отмеченных производителей"></button>
      </div>
    </div>
    <div class="col-md-5">
			@Html.Partial("partials/_SelectedProducersGrid", Model)
    </div>
  </div>
	<div class="clearfix">&nbsp;</div>
  <div class="form-group">
    <div class="col-md-12">
      <input type="submit" class="btn btn-primary" value="@(Model.AddMode ? "Добавить" : "Сохранить")" data-toggle="tooltip" data-placement="right" title="Сохранить маркетинговое мероприятие" />
    </div>
  </div>
}
