
@using Marketing.Models
@model List<PromoterProducer>

@{
    ViewBag.Title = "Маркетинговые мероприятия";
}
<div class="form-group">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Меню</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<h2>@ViewBag.Title</h2>
<div class="form-group">
    <a href="@Url.Action("ProducerAdd", "Marketing")" class="btn btn-primary">Добавить</a>
</div>

<div class="form-group width-100">
    @Html.Partial("IndexGridView", Model)
</div>
