@using Marketing.Models
@model List<ProducerPromotion>

@{
    var marketingEvent = (MarketingEvent) ViewBag.MarketingEvent;
    ViewBag.Title = $"Акции, проводимые \"{marketingEvent.Name}\"";
}
<div class="form-group">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Меню</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Marketing")">Маркетинговые мероприятия</a>
        </li>
        <li class="active">Акции от "@marketingEvent.Name"</li>
    </ol>
</div>
<h2>@ViewBag.Title</h2>
<div class="form-group">
    <a href="@Url.Action("PromotionAdd", "Marketing", new {id = marketingEvent .Id})" class="btn btn-primary">Добавить</a>
</div>

<script type="text/javascript">
    //Здесь нужно собать все значения, которые должны быть учтены при фильтрации
    function gridVIewBeginCallback(s, e) {
        e.customArgs["id"] = @marketingEvent.Id;
    }
</script>

<div class="form-group width-100">
    @Html.Partial("partials/_PromotionListGridView", Model)
</div>
<div class="row">
		<div class="col-md-12">
				<div class="legend">
            <div class="legend-title">Легенда:</div>
						<div class="legend-info legend-gray">Акция просрочена</div>
				</div>
		</div>
</div>
