
@using Marketing.Models
@model List<ProducerPromotion>

@{
    var producer = (PromoterProducer) ViewBag.Producer;
    ViewBag.Title = $"Акции, проводимые \"{producer.Producer.Name}\"";
}
<div class="form-group">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Меню</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Marketing")">Маркетинговые мероприятия</a>
        </li>
        <li class="active">Акции от "@producer.Producer.Name"</li>
    </ol>
</div>
<h2>@ViewBag.Title</h2>
<div class="form-group">
    <a href="@Url.Action("PromotionAdd", "Marketing",new {id = producer .Id})" class="btn btn-primary">Добавить</a>
</div>

<script type="text/javascript">
    //Здесь нужно собать все значения, которые должны быть учтены при фильтрации
    function gridVIewBeginCallback(s, e) {
        e.customArgs["id"] = @producer.Id;
    }
</script>

<div class="form-group width-100">
    @Html.Partial("PromotionListGridView", Model)
</div>
