@using Marketing.Models
@using Marketing.ViewModels
@model PromotionConditionsViewModel
@{
  ViewBag.Title = $"Условия по акции {Model.Promotion.Name} мероприятия {Model.MarketingEvent.Name}";
}

<div class="form-group">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Меню</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Marketing")">Маркетинговые мероприятия</a>
        </li>
        <li>
            <a href="@Url.Action("PromotionList", "Marketing", new {id = Model.Promotion.MarketingEvent.Id})">@Model.MarketingEvent.Name</a>
        </li>
        <li class="active">Условия по акции</li>
    </ol>
</div>
<h2>@ViewBag.Title</h2>

<div class="row">
		@Html.Partial("partials/_ConditionsGridView", Model)
</div>