@using Marketing.Models
@using Marketing.ViewModels
@model Marketing.Models.ProducerPromotion

@{
    var marketingEvent = (MarketingEvent) ViewBag.MarketingEvent;
    ViewBag.Title = $"Добавление акции от \"{marketingEvent.Name}\"";
}

<div class="form-group">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Меню</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Marketing")">Маркетинговые мероприятия</a>
        </li>
        <li>
            <a href="@Url.Action("PromotionList", "Marketing", new {id = marketingEvent.Id})">@marketingEvent.Name</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("PromotionAdd", "Marketing", FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.MarketingEvent.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Период</label>
        @Html.Partial("partials/_DateRange", new DateRangeViewModel { DateBegin = Model.DateStarted, DateEnd = Model.DateFinished })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.Enabled)
                @Html.LabelFor(m => m.Enabled)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Добавить"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}