@using Marketing.ViewModels
@model ProfileViewModel
@{
	ViewBag.Title = "Личный кабинет организатора";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("PromoterProfile", "Account", FormMethod.Post))
{
@Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AssociationId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Partial("_AssociationList", Model)
            @Html.ValidationMessageFor(model => model.AssociationId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>
</div>
}