@using Marketing.ViewModels
@model MemberViewModel
@{
    ViewBag.Title = "Добавление участника";
}

<div class="form-group">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Меню</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Members")">Участники</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Add", "Members", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="form-group">
			@Html.LabelFor(m => m.MemberId, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
					@Html.DropDownListFor(m => m.MemberId, Model.AvailableMembers, new { @class = "form-control" })
			</div>
	</div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" class="btn btn-default" value="Добавить" />
    </div>
  </div>
}
